<div class="fitler desktop">
  <div class="left-side">
    <ng-container></ng-container>
  </div>
    <mat-divider></mat-divider>
  <div class="right side">
    <ng-container></ng-container>
    <ng-container></ng-container>
    <ng-container></ng-container>
  </div>
</div>

<ng-template #searchString>
  <div class="search-string"></div>
</ng-template>

<ng-template #multiSelect>
  <div class="search-string"></div>
</ng-template>

<ng-template #singleSelect>
  <div class="search-string"></div>
</ng-template>

<ng-template #history>
  <div class="search-string"></div>
</ng-template>
